# ArgyllCMS colorimeter access for pgenerator user
# i1Display Pro Plus / i1Display Pro / ColorMunki Display
SUBSYSTEM=="usb", ATTR{idVendor}=="0765", MODE="0666"
# X-Rite i1 Pro
SUBSYSTEM=="usb", ATTR{idVendor}=="0971", MODE="0666"
# Datacolor Spyder
SUBSYSTEM=="usb", ATTR{idVendor}=="085c", MODE="0666"
# ColorVision Spyder
SUBSYSTEM=="usb", ATTR{idVendor}=="04db", MODE="0666"
# Sequel Chroma 5
SUBSYSTEM=="usb", ATTR{idVendor}=="0670", MODE="0666"
